#Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

#Lukes Addons #
#####################
*.mat
*.tex
*.synctex.gz
*.aux
*.bib
*.fdb_latexmk
*.bbl
*.fls
*.out
/SDE/src/Cameron
/SDE/src/genetic_switch
/SDE/src/Archive
/SDE/bin
/SDE/data
/SDE/reults
